body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 300;

}

p {
  font-size: 21px;
  font-color: gray;
}

a {
  color: aquamarine;
  font-size: 16px;
}

#copyright {
  text-align: right;
  color: gray;
}
